.spalsh-screen {
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	display: flex;
	background-image: url('../Assets/glbg.jpg');
	height: 100%;
	width: 100%;
	padding: 15% 25%;
	background-size: cover;
}

.logo img {
	vertical-align: middle;
	box-shadow: 0px 0px 3px 1px;
	border-radius: 100%;
}

.intro {
	font-family: Georgia;
	margin-top: 25%;
	width: 100%;
	text-align: center;
	color: #fff;
}

.login-container {
	align-items: center;
	display: flex;
	background-image: url('../Assets/glbg.jpg');
	height: 100%;
	width: 100%;
	padding: 15%;
	background-size: cover;
}

.login-container .border-reset{
	border-radius: 0;
}

.login-form {
	display: flex;
	background-color: rgba(198, 197, 196, 0.68);
	border-radius: 1%;
	box-shadow: 0px 0px 1px 1px;
	width: 90%;
	height: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
}

.login-controls {
	margin: 3% 0;
	width: 90%;
}

tr.footer{
	text-align: center;
}

.voting-options .btn-primary {
	border-radius: 0;
}