.spalsh-screen {
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	display: flex;
	background-image: url('../Assets/glbg.jpg');
	padding: 15% 25%;
	background-size: cover;
	position: fixed;
	left: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
}

.logo img {
	vertical-align: middle;
	box-shadow: 0px 0px 3px 1px;
	border-radius: 100%;
	max-height: 125px;
}

.intro {
	font-family: Georgia;
	margin-top: 25%;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: 1px -2px #000;
}

.login-container {
	align-items: center;
	display: flex;
	background-image: url(../Assets/glbg.jpg);
	padding: 5%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
}

.voting-options {
	background-image: url(../Assets/glbg.jpg);
	padding: 5%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	left: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
}

.login-container .border-reset {
	border-radius: 0;
}

.login-form {
	display: flex;
	background-color: rgba(198, 197, 196, 0.68);
	border-radius: 1%;
	box-shadow: 0px 0px 1px 1px;
	width: 90%;
	height: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5% 0;
	max-width: 560px;
}

.login-controls {
	margin: 3% 0;
	width: 90%;
	display: flex;
}

tr.footer{
	text-align: center;
}

.voting-options .btn-primary {
	border-radius: 0;
}

#loadingModal {
	display: flex;
	align-items: center;
	justify-content: center;
}

#confirmModal{
	color: black;
}

#exportModal {
	color: black;
}

#loadingModal img {
	height: 15%;
}

.table-heading {
	text-align: center;
	color: #f4ea8e;
}

.info-icon:before{
	background-image: url('../Assets/Info.png');
}

.tooltip-block {
	position: relative;
}

.tooltip-block .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: khaki;
	color: #000;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip-block .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: khaki transparent transparent transparent;
}

.tooltip-block:active .tooltiptext {
	visibility: visible;
	opacity: 1;
}