@{
    ViewBag.Title = "Vista Hackathon";
}

<div ng-app="voteApp">
	<ng-view></ng-view>
	<div class="modal fade" data-backdrop="static" id="loadingModal" role="dialog">
		<img src="~/Content/Assets/loading.gif" alt="loading"/>
	</div>
</div>